* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
.cover {
  background-color: white;
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.altLogin {
  width: 80%;
  height: 3em;
  display: flex;
  justify-content: space-evenly;
}
.altLogin div {
  width: 15%;
  height: 100%;
  border-radius: 0.25em;
  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.altLogin div:hover {
  transform: scale(1.25);
}
.google {
  background-image: url(google.png);
}
.facebook {
  background-image: url(facebook.png);
}

.cover input {
  background-color: white;
  height: 4em;
  width: 80%;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
}
.cover input:focus {
  outline-color: #8ee2ce;
}

.login-btn {
  width: 40%;
  height: 3em;
  background-color: #8ee2ce;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
}
.login-btn:hover {
  transform: scale(1.25);
}
.text {
  position: relative;
  bottom: -1em;
}
.question {
  color: blue;
  cursor: pointer;
}
.question:hover {
  text-decoration: underline;
}
